<!doctype html>
<html lang="en">
  <head>

    <title>{{meta_title}}</title>
    <meta charset="utf-8" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="msapplication-TileImage" content="{{asset 'images/windows-tile.png'}}" />
    <meta name="msapplication-TileColor" content="#262A2D" />


    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="{{meta_title}}" />
    <meta property="og:locale" content="en_US" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{meta_title}}" />

    {{! Icons }}
    <link rel="icon" href="{{asset 'favicon.ico'}}" />
    <link rel="icon" sizes="196x196" href="{{asset 'images/android-homescreen.png'}}" />
    <link rel="apple-touch-icon" href="{{asset 'images/apple-touch-icon.png'}}" />

    {{! Prerendering and Prefetching }}
    {{#if @blog.cover}}
    <link rel="prerender" href="{{@blog.cover}}" />
    <link rel="prefetch" href="{{@blog.cover}}" />
    {{/if}}
    <link rel="dns-prefetch" href="//fonts.googleapis.com/" />

    {{! Scripts and Stylesheets }}
    <link rel="stylesheet" href="{{asset 'css/main.css'}}" />


    {{! Page-Specific Metadata }}
    {{{block "meta"}}}

    {{ghost_head}}

  </head>
  <body>
    <div class="wrapper">
      {{> header}}
      {{{body}}}
    </div>

    {{ghost_foot}}

    {{! Deferred scripts }}
    <script type="text/javascript" src="{{asset "js/jquery.ghostHunter.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/search.js"}}"></script>    

  </body>
</html>
